*{
    margin: 0;
    padding: 0;
    /* color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300; */
    box-sizing: border-box;
}
/* body{
    overflow-x: hidden;
} */